@import "compass/reset";
@import "compass/css3";

$primary:   #31dfbc;
$secondary: #1fb5a9;
$tertiary:  #DF314D;

body, html {
  height: 100%;
  overflow: hidden;
  font-family: helvetica;
  font-weight: 100;
}
 
.container {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  @include transition (left 0.4s ease-in-out);
}

.open-sidebar {
  left: 240px;
}

.swipe-area {
  position: absolute;
  width: 50px;
  left: 0;
  top: 0;
  height: 100%;
  background: #f3f3f3;
  z-index: 0;
}
#sidebar {
  position: absolute;
  background: $primary;
  left: -240px;
  width: 240px;
  height: 100%;
  @include box-sizing (border-box);
  ul {
    li {
      a {
        padding: 15px 20px;
        font-size: 16px;
        font-weight: 100;
        color: white;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid darken($primary, 10%);
        @include transition (background 0.2s ease-in-out);
      }
      &:hover a {
        background: $secondary;
      }
    }
  }
}

.main-content {
  width: 100%;
  height: 100%;
  padding: 10px;
  @include box-sizing (border-box);
  position: relative;
  #sidebar-toggle {
    background: $tertiary;
    @include border-radius (3px);
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
    .bar {
      display: block;
      width: 18px;
      margin-bottom: 3px;
      height: 2px;
      background-color: #fff;
      border-radius: 1px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}